body {
  margin: 0;
}

#home-page {
  display: flex;
  flex-direction: column;
}

#btns {
  display: flex;
  justify-content: center;
}

#btns-cont {
  display: flex;
  flex-direction: column;
}

#btns-box-abt {
  position: unset;
  display: flex;
  flex-direction: column;
  align-self: center;
  bottom: 5%;
  margin-bottom: ;
}

#prog-box {
  display: flex;
  justify-content: center;
}

#prog-cont {
  position: fixed;
  bottom: 5%;
}

#header {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#hero-image {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

#abt-text {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.AbtAlign{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
  padding-top: 15px;
}