.hamburger {
    position: absolute;
    right: 10px;
  }
  

  .menu {
    position: absolute;
    display: flex;
    justify-content: center;
    top: 20px;
    width: 100%;
  }
  
  .menuPopup{
    display: flex;
    width: 30%;
    height: 100%;
    background-color: aquamarine;
  }