.Menu{
    transition: right 0.5s;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    top: 50px;
    right: -100px;
    width: 200px;
    height: 200px;
    background-color: blueviolet;
}