.image{
    width: 205px;
    max-width: 205px;
    max-height: 205px;
    border-radius: 100px;
}

.frame{
    width: 205px;
    max-width: 50px;
    max-height: 205px;
    border-radius: 100%;
    border: 5px solid black;
}
