.progBarCont {
  width: 370pt;
  height: 80pt;
  display: flex;

  align-items: center;
  justify-content: center;
  border-radius: 550pt;
  box-shadow: 2pt 2pt 4pt rgba(0, 0, 0, 0.25),
    -2pt -2pt 4pt rgba(116, 145, 177, 0.25);
}

.slider {
  -webkit-appearance: none;
  position: absolute;
  width: 300pt;
  height: 25pt;
  border-radius: 50pt;
  background: #7491b1;
  outline: none;
}

.lines {
  justify-content: center;
  align-items: center;
  display: flex;
}

#line {
  height: 50%;
  width: 2pt;
  background-color: #204377;
  margin: 16%;
  border-radius: 50pt;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50pt;
  height: 50pt;
  border-radius: 50%;
  background: #204377;
  cursor: pointer;
  box-shadow: 2pt 2pt 4pt rgba(0, 0, 0, 0.25),
    -2pt -2pt 4pt rgba(116, 145, 177, 0.25);
}
