.slider {
    -webkit-appearance: none;
    width: 50%;
    height: 15px;
    border-radius: 10px;  
    background: linear-gradient(90deg, #7491B1 60%, rgb(245, 13, 52) 60%);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
    width: 52%;
    height: 17px;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #204377;
    cursor: pointer;
  }

  .slider::-webkit-slider-thumb:active {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%; 
    background: #1572ec;
    cursor: pointer;
    -webkit-transition: .2s;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #204377;
    cursor: pointer;
  }