.sliderCont {
  width: 350px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 550pt;
  box-shadow: 2pt 2pt 4pt rgba(0, 0, 0, 0.25),
    -2pt -2pt 4pt rgba(116, 145, 177, 0.25);
  margin: 15px;
}

.slider {
  -webkit-appearance: none;
  position: absolute;
  width: 300px;
  height: 25px;
  border-radius: 50px;
  background: #7491b1;
  outline: none;
}

.lines {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 3px;
}

#line {
  height: 50%;
  width: 3px;
  background-color: #204377;
  margin: 16%;
  border-radius: 50px;
  text-align: center;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #204377;
  cursor: pointer;
  box-shadow: 2pt 2pt 4pt rgba(0, 0, 0, 0.25),
    -2pt -2pt 4pt rgba(116, 145, 177, 0.25);
}

#slider-btn-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 02%;
}

#white-box {
  position: absolute;
  background: white;
  opacity: 0;
  height: 100vh;
  width: 100vw;
}

.data{
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 3px;
}

#dataTag{
  height: 50%;
  width: 3px;
  background-color: #204377;
  margin: 16%;
  border-radius: 50px;
}

#line.b{
  position: absolute;
  top:0;
}

b{
  position: absolute;
  top:0;
  text-align: center;
  align-items: center;
}