body {
  margin: 0;
}

#CleansePage {
  position: fixed;
  display: relativity;
  opacity: 0;
  left: 0;
  transition: opacity 1s, left 1s;
}

#bg {
  position: relative;
  opacity: 50%;
}

#transition {
  margin-left: 0;
  margin-right: 0;
  width: 375px;
}

#transition-box {
  position: relative;
}

#home-page {
  display: flex;
  flex-direction: column;
}

#btns {
  display: flex;
  justify-content: center;
}

#btns-cont {
  display: flex;
  flex-direction: column;
}

#btns-box {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-self: center;
  bottom: 15%;
}

#btn-margin {
  margin-bottom: 25px;
}

#prog-box {
  display: flex;
  justify-content: center;
}

#prog-cont {
  position: fixed;
  bottom: 5%;
}

#header {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}

#hero-image {
  display: flex;
  justify-content: center;
  margin-top: 15%;
}

#quiz {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
  padding-top: 25px;
  width: 100%;
  top: 0;
}

#quiz-contents {
  flex-direction: row;
}

#quiz-contents p {
  text-align: center;
  padding-bottom: 10px;
}
